<%- include("partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to <%= foundCamp.name %></h1>
            <p><%= foundCamp.description %></p>
            <img src="<%= foundCamp.image %>" alt="">
        </div>
    </header>


<%- include("partials/footer") %>